@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PC Builder</h1>
    <p class="lead">Приложения для создания конфигураций системных блоков</p>
    <p><a href="http://localhost:57140/SystemUnit" class="btn btn-primary btn-lg">Список готовых решений &raquo;</a></p>
    <p><a href="http://localhost:57140/SystemUnit/Create" class="btn btn-primary btn-lg">Создать сборку &raquo;</a></p>
    <p><a href="https://iconpc.ru/" class="btn btn-primary btn-lg">Сайт компании &raquo;</a></p>
</div>
